@import "../../common/common";
// Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information.
//
// Office UI Fabric
// --------------------------------------------------
// Dropdown styles
$Dropdown-selectedItem-bg: $ms-color-neutralQuaternaryAlt;
$Dropdown-selectedItem-hover-bg: $ms-color-neutralLighter;
$DropDown-height: 32px;
$DropDown-item-height: 32px;
// Mixin for high contrast mode states
@mixin highContrastItemAndTitleState {
  @include high-contrast {
    background-color: Highlight;
    border-color: Highlight;
    color: HighlightText;
  }
  @include highContrastAdjust();
}

@mixin highContrastBorderState {
  @include high-contrast {
    border-color: Highlight;
  }
}

.root {
  @include ms-normalize;
  @include ms-font-m;
  color: $ms-color-neutralPrimary;
  position: relative;
  outline: 0;
  user-select: none;
  &:hover,
  &:focus,
  &:active {
    .title,
    .caretDown {
      color: $ms-color-neutralDark;
    }
    .titleIsPlaceHolder {
      color: $ms-color-neutralSecondary;
    }
  }
  &:hover {
    .title {
      border-color: $ms-color-neutralDark;
      @include highContrastBorderState();
    }
    .titleIsError {
      border-color: $ms-color-error;
    }
  }
  &:active {
    .title {
      border-color: $ms-color-themeDark;
      @include highContrastBorderState();
    }
    .titleIsError {
      border-color: $ms-color-error;
    }
  }
  &:focus {
    .title {
      border-color: $ms-color-themePrimary;
      @include highContrastItemAndTitleState();
    }
    .caretDown {
      @include high-contrast {
        color: HighlightText;
      }
      @include highContrastAdjust();
    }
    .titleIsError {
      border-color: $ms-color-error;
    }
  }
  .titleIsError {
    border-color: $ms-color-error;
  }
  :global(.ms-Label) {
    display: inline-block;
    margin-bottom: 8px;
  }
}

//== State: A disabled dropdown
.root.rootIsDisabled {
  .title {
    background-color: $ms-color-neutralLighter;
    border: none;
    color: $ms-color-neutralTertiary;
    cursor: default;
    @include high-contrast {
      border: 1px solid GrayText;
      color: GrayText;
    }
    &.titleIsError {
      border-color: $ms-color-error;
    }
  }
  .caretDown {
    color: $ms-color-neutralTertiary;
    @include high-contrast {
      color: GrayText;
    }
  }
}

.listWrapper {
  &:focus {
    outline: 0;
  }
}

.caretDownWrapper {
  position: absolute;
  top: 1px; // border
  @include ms-right(12px);
  height: $DropDown-height;
  line-height: $DropDown-height - 2px; // height minus the border
}

.caretDown {
  color: $ms-color-neutralSecondary;
  font-size: $ms-icon-size-s;
  pointer-events: none;
}

// Style the new, replacement component
.title {
  @include ms-normalize;
  background: $ms-color-white;
  border: 1px solid $ms-color-neutralTertiary;
  cursor: pointer;
  display: block;
  height: $DropDown-height;
  line-height: $DropDown-height - 2px; // height minus the border
  @include padding(0, $DropDown-height, 0, 12px);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &.titleIsPlaceHolder {
    color: $ms-color-neutralSecondary;
  }
}

.panel {
  // Force drop shadow even under medium breakpoint
  :global(.ms-Panel-main) {
    @include ms-drop-shadow(-30px, 0px, 30px, -30px, 0.2);
  } // Remove padding as items have their own padding and bg
  :global(.ms-Panel-contentInner) {
    padding: 0 0 20px;
  }
}

.callout.callout {
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid $ms-color-neutralLight;
}

.errorMessage {
  color: $ms-color-error;
  @include ms-font-s;
  padding-top: 5px;
}

.items {
  display: block;
}

// Container for the dropdown items, displayed as a panel on small screens.
.item {
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  width: 100%;
  min-height: $DropDown-item-height;
  line-height: 20px;
  /* once this is converted to js css, then specificity won't be an issue. */
  height: auto !important;
  padding: 4px 16px !important;
  position: relative;
  border: 1px solid transparent;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  @include high-contrast {
    border-color: Window;
  }
  &:hover {
    color: inherit;
  }
  &:focus {
    background-color: $ms-color-neutralLighter;
    @include highContrastItemAndTitleState;
  }
  &:active {
    background-color: $Dropdown-selectedItem-hover-bg;
    color: $ms-color-black;
  }
  &.itemIsDisabled {
    color: $ms-color-neutralTertiary;
    cursor: default;
  }
  :global(.ms-Button-flexContainer) {
    justify-content: flex-start;
  }
}

//== State: A selected dropdown item
.item.itemIsSelected {
  background-color: $Dropdown-selectedItem-bg;
  color: $ms-color-black;
  @include highContrastItemAndTitleState;
  &.itemIsDisabled {
    color: $ms-color-neutralTertiary;
    background-color: transparent;
  }
}

.header {
  @include ms-font-m;
  font-weight: $ms-font-weight-semibold;
  color: $ms-color-themePrimary;
  background: none;
  background-color: transparent;
  border: none;
  height: $DropDown-item-height;
  line-height: $DropDown-item-height;
  cursor: default;
  padding: 0px 16px;
  user-select: none;
  @include text-align(left);
}

.divider {
  height: 1px;
  background-color: $bodyDividerColor;
}

.optionText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 1px;
}