div.content > h1 {
  font-size: 42px;
  font-weight: 100;
}
div.content > h2 {
  font-size: 28px !important;
  font-weight: 100 !important;
}
div.content > h3 {
  font-size: 21px;
  font-weight: 100;
}
div.content > h4 {
  font-size: 17px;
  font-weight: 300;
}
div.content > h5 {
  font-size: 15px;
  font-weight: 400;
}
div.content > h6 {
  font-size: 14px;
  font-weight: 400;
}