<template>
  <div>
    <Shimmer />
  </div>
</template>

<script>
import { Label, Shimmer } from '../index'
export default {
  components: { Label, Shimmer }
}

</script>

<style lang="scss" scoped>
</style>
