<template>
  <div :class="rootClass"
       class="ms-TextField root">

    <div class="ms-TextField-wrapper wrapper">
      <Label v-if="label"
             :required="required">
        {{ label }}
      </Label>

      <div :class="{ 'invalid': errorMessage }"
           class="ms-TextField-fieldGroup fieldGroup">
        <component id="TextField"
                   :is="component"
                   :value="multiline ? '' : value"
                   :disabled="disabled"
                   :placeholder="placeholder"
                   :readonly="readOnly"
                   :required="required"
                   rows="4"
                   type="text"
                   class="ms-TextField-field field"
                   aria-invalid="false"
                   v-text="multiline ? value : ''" />
      </div>

      <span>
        <div aria-live="assertive">
          <p class="ms-TextField-errorMessage errorMessage">
            <span>{{ errorMessage }}</span>
          </p>
        </div>
      </span>
    </div>

  </div>
</template>

<script>
import { Label } from '../Label'

export default {
  components: { Label },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    readOnly: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    errorMessage: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    multiline: {
      type: Boolean,
      default: false
    },
    underlined: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    component () {
      return this.multiline ? 'textarea' : 'input'
    },
    rootClass () {
      return {
        'is-disabled': this.disabled,
        'rootIsDisabled': this.disabled,
        'is-required': this.required,
        'rootIsRequiredLabel': this.required,
        'multiline': this.multiline,
        'rootIsMultiline': this.multiline,
        'underlined': this.underlined,
        'rootIsUnderlined': this.underlined
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../common/common";
@import "../../common/semanticSlots";

// Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information.

//
// Office UI Fabric
// --------------------------------------------------
// Single line (input) and multiline (textarea) form field styles
@import "../Label/LabelMixins.scss";

// component slots
$field-background-color: $inputBackgroundColor;
$field-background-disabled-color: $disabledBackgroundColor;

$field-border-color: $inputBorderColor;
$field-border-disabled-color: $disabledBackgroundColor;
$field-border-hover-color: $inputBorderHoveredColor;
$field-border-focus-color: $inputFocusBorderAltColor;
$field-border-error-color: $errorTextColor;

$field-text-color: $bodyTextColor;
$field-text-disabled-color: $disabledTextColor;

$field-placeholder-color: $bodySubtextColor;
$field-placeholder-disabled-color: $disabledTextColor;

$field-description-color: $bodySubtextColor;
$field-error-color: $errorTextColor;

// Mixin for focus border, including high contrast
@mixin fieldFocusBorder {
  border-color: $field-border-focus-color;
  @include high-contrast {
    border-width: 2px;
    .field {
      @include ms-padding(0, 11px, 0, 11px);
    }
  }
}

// the box containing the label and input field
input.root,
textarea.root {
  @include ms-normalize;
  position: relative; /* Needed to position icon */
}

.screenReaderOnly {
  @include ms-screenReaderOnly;
}

//= State: default
.fieldGroup {
  @include ms-normalize;
  border: 1px solid $field-border-color;
  background: $field-background-color;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;

  &:hover {
    border-color: $field-border-hover-color;
  }

  &.fieldGroupIsFocused {
    @include fieldFocusBorder();
  }

  &.fieldGroupIsFocused {
    &.invalid {
      border-color: $field-border-error-color;
    }
  }

  .rootIsDisabled & {
    background-color: $field-background-disabled-color;
    border-color: $field-border-disabled-color;
  }

  &:hover,
  &.fieldGroupIsFocused {
    @include high-contrast {
      border-color: Highlight;
    }
  }

  &::-ms-clear {
    display: none;
  }

  ::placeholder,
  :-ms-input-placeholder {
    color: $inputPlaceholderTextColor;
    opacity: 1;
  }
}

//= State: A disabled textfield
.root.rootIsDisabled {
  :global(.field) {
    background-color: $field-background-disabled-color;
    border-color: $field-border-disabled-color;
  }
}

.fieldPrefixSuffix {
  align-items: center;
  background: $ms-color-neutralLighter;
  color: $ms-color-neutralSecondary;
  display: flex;
  line-height: 1;
  padding: 0 10px;
  white-space: nowrap;
}

.field {
  @include ms-normalize;
  font-size: $ms-font-size-m;
  border-radius: 0;
  border: none;
  background: none;
  background-color: transparent;
  color: $field-text-color;
  @include ms-padding(0, 12px, 0, 12px);
  width: 100%;
  /**
   * min-width is set to 1 in order to tell the browser to ignore the
   * default value calculated from the size attribute and respect the
   * width set on parent elements.
   */
  min-width: 0;
  text-overflow: ellipsis;
  outline: 0;
  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }
  &.hasIcon {
    @include ms-padding-right(24px);
  }

  &[disabled] {
    background-color: transparent;
    border-color: transparent;
  }
}

.field::placeholder {
  color: $field-placeholder-color;
}

//= State: A required textfield
.root.rootIsRequiredLabel {
  :global(.ms-Label) {
    @include ms-Label-is-required;
  }
}

.root.rootIsRequiredPlaceholderOnly {
  :global(.ms-TextField-fieldGroup) {
    &::after {
      content: "*";
      color: $ms-color-error;
      position: absolute;
      top: -5px;
      @include ms-right(-10px);
    }
  }
}

//= State: An active textfield
.root.rootIsActive {
  @include fieldFocusBorder();
}

.icon {
  pointer-events: none;
  position: absolute;
  bottom: 5px;
  @include right(8px);
  top: auto;
  font-size: 16px;
  line-height: 18px;
}

.description {
  color: $field-description-color;
  font-size: $ms-font-size-xs;
}

.rootIsBorderless .fieldGroup {
  border-color: transparent;
  border-width: 0;
}

//== Modifier: Single line (default), underlined
.root.rootIsUnderlined {
  border: 0px solid $field-border-color;

  .wrapper {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    width: 100%;

    &.invalid,
    &.invalid:focus,
    &.invalid:hover {
      border-bottom: 1px solid $field-border-error-color;
    }
  }

  :global(.ms-Label) {
    font-size: $ms-font-size-m;
    @include ms-margin-right(8px);
    @include ms-padding-left(12px);
    line-height: 22px; // 32px minus 5px padding top/bottom
    height: 32px;
  }

  .fieldGroup {
    flex: 1 1 0px;
    border-width: 0;

    @include ms-text-align(left);
  }

  &.rootIsDisabled {
    border-color: $field-border-disabled-color;

    :global(.ms-Label) {
      @include ms-Label-is-disabled;
    }

    .field {
      background-color: transparent;
      color: $field-text-disabled-color;
    }

    .fieldGroup {
      background-color: transparent;
    }
  }

  &:hover:not(.rootIsActive):not(.rootIsDisabled) {
    border-color: $field-border-hover-color;
  }

  &.rootIsActive {
    @include fieldFocusBorder();
  }

  &:hover:not(.rootIsDisabled),
  &.rootIsActive {
    .wrapper {
      @include high-contrast {
        border-color: Highlight;
      }
    }
  }
}

//== Modifier: Multiline textfield
//
.root.rootIsMultiline {
  .fieldGroup {
    min-height: 60px;
    height: auto;
    display: flex;
  }

  .field {
    line-height: 17px;
    flex-grow: 1;
    padding-top: 6px;
    overflow: auto;
    width: 100%;

    &.hasIcon {
      @include ms-padding-right(40px);
    }
  }
}

// @todo: https://github.com/OfficeDev/Office-UI-Fabric/issues/359
.errorMessage {
  @include ms-font-s;
  color: $field-error-color;
  margin: 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.invalid,
.invalid:focus,
.invalid:hover {
  border-color: $field-border-error-color;
}

.root.rootIsUnderlined {
  :global(.ms-Label) {
    @include ms-padding-left(12px);
    @include ms-padding-right(0);
  }

  .field {
    @include text-align(left);
  }
}

.root.rootIsMultiline {
  .icon {
    @include ms-padding-right(24px);
    padding-bottom: 8px;
    align-items: flex-end;
  }

  .field.fieldIsUnresizable {
    resize: none;
  }
}

.hidden {
  display: none;
}
</style>
